entrypoint = "main.py"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[deployment]
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80